body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

/* the navigation header */
.navbar-default {
    /* background: linear-gradient(to right, rgba(0, 0, 90, 1), rgba(0, 70, 90, 1)); */
    background-color: transparent;
    border-color: transparent;
    border-radius: 0;
    padding-top: 20px;
    transition: padding 0.3s;
}
/* navigation header elements */
.navbar-default .navbar-nav > li > a {
    color: rgb(0, 150, 200);
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    color: aqua;
}
.navbar-default .navbar-nav > li > a:focus {
    color: rgb(0, 150, 200);
}
/* navigation header logo */
.navbar-default .navbar-brand {
    color: rgb(0, 150, 200);
    font-size: 28px;
    padding-left: 0px;
    text-transform: uppercase;
}
.navbar-default .navbar-brand:hover {
    color: aqua;
}
.navbar-default .navbar-brand:focus {
    color: rgb(0, 150, 200);
}
.navbar-default.navbar-shrink {
    background-color: rgb(25, 25, 25);
    padding: 10px 0;
}
@media (max-width: 767px) {
    .navbar-collapse {
	background-color: rgb(0, 0, 50);
    }
}

/* landing page */
header {
    min-height: 100%;
    position: relative;
    background-image: url('images/satellite-array.jpg');
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    text-align: center;
    width: 100%;
}
header .landing-page-content {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
}
header .landing-page-content .landing-page-heading {
    font-size: 90px;
    color: rgb(0, 150, 200);
    text-transform: uppercase;
    text-align: center;
}
header .landing-page-content .landing-page-description {
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
}
.glyphicon-chevron-down {
    font-size: 400%;
}
header .landing-page-content .landing-page-scroll {
    margin-top: 80px;
    text-align: center;
}
a:focus {
    color: #337ab7;
}

/* section */
.content {
    padding: 100px 0;
}
.content hr {
    margin-top: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.content h1 {
    font-size: 60px;
    color: rgb(0, 150, 200);
    text-transform: uppercase;
}
.content p {
    font-size: 25px;
}
